@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiSlider-markLabel {
    @apply dark:text-white text-black
}
.MuiSvgIcon-root {
    @apply dark:text-white text-black
}
.addListing input {
    @apply bg-gray-200 dark:bg-white
}
.circle {
    border-radius: 50% 50% 50% 0;
    transform-origin: bottom left;
    transform: translate(50%, -100%);
    transform: rotate(-45deg)
}
.circle > * {
    transform: rotate(45deg)
}
.mapboxgl-popup-content {
    @apply p-2
}